# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/

# iOS build stuff
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/engine

# macOS build stuff
macos/Flutter/ephemeral/

# Linux/Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# Android specific
android/app/debug/
android/app/profile/
android/app/release/

# Web-specific
web/.dart_tool/
web/build/

